<html>

<head>
    <style>
        body {
            background: #333;
            margin: 1.25rem
        }

        h1 {
            color: #EEE;
            font-family: sans-serif
        }

        a {
            color: yellow;
            font-size: 2rem;
            font-family: sans-serif
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>